#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

h1 {
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
  padding: 0;
}

nav ul li {
  list-style: none;
  margin-right: 1em;
}

nav ul li:last-child {
  margin-right: 0;
}